#root {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--container-padding);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  margin-bottom: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #7289daaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: var(--card-padding);
  background: var(--background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  text-align: left;
}

.card h2 {
  margin-bottom: 0.5rem;
}

.card p {
  color: rgba(255, 255, 255, 0.7);
}

.read-the-docs {
  color: #888;
  margin-top: 1rem;
}
